@page
@model FUNewsManagementSystem.Web.Pages.Categories.Create
@{
    ViewData["Title"] = "Create Category";
}
<h2>Create Category</h2>
<form method="post" class="col-6">
    <div class="mb-2">
        <label>CategoryID (short)</label>
        <input asp-for="Item.CategoryID" class="form-control" />
    </div>
    <div class="mb-2">
        <label>Name</label>
        <input asp-for="Item.CategoryName" class="form-control" />
    </div>
    <div class="mb-2">
        <label>Description</label>
        <input asp-for="Item.CategoryDescription" class="form-control" />
    </div>
    <div class="form-check">
        <input asp-for="Item.IsActive" class="form-check-input" />
        <label class="form-check-label">Active</label>
    </div>
    <button class="btn btn-primary mt-2">Save</button>
</form>
