@page
@model FUNewsManagementSystem.Web.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}
<h2>Dashboard</h2>
<ul>
    <li>Tổng số bài viết: <b>@Model.NewsCount</b></li>
    <li>Tổng số chuyên mục: <b>@Model.CategoryCount</b></li>
    <li>Tổng số tài khoản: <b>@Model.AccountCount</b></li>
</ul>
