@page
@model FUNewsManagementSystem.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to FUNews Management System</h1>
    <p class="lead">Assignment 2 - PRN222</p>

    <p>
        <a asp-page="/Auth/Login" class="btn btn-primary btn-lg mt-3">Go to Login</a>
    </p>
</div>
